.main h1 {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: #d2711f;
}

.main h2 {
  text-align: center;
  font-weight: bold;
  line-height: 1.5rem;
  color: #333333;
}

.container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 88.5vw;
  margin: 2rem auto;
  border-radius: 0.4rem;
  transition: 0.5s;
}

.container:hover {
  transform: translateY(-1.2rem);
}

.container > img {
  border-radius: 0.4rem 0.4rem 0 0;

  object-fit: cover;
  width: 88.5vw;
  height: 17rem;
}

.type {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 0;
}

.type > h1 {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  background-color: #51cf66;
  padding: 0.1rem 0.4rem;
  border-radius: 5rem;
  color: #555555;
}

.second {
  background: transparent;
  color: #51cf66;
}

.type h1:nth-child(2) {
  background: transparent;
  color: #51cf66;
}

.container > h2 {
  margin-left: 1rem;
  font-size: 1rem;
  color: #555555;
  margin-top: 0;
  text-transform: capitalize;
}

.contain {
  margin-top: 0;
  line-height: 1.4rem;
  padding: 0.6rem 0.8rem;
}

.wrapper {
  margin-top: 0;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.p1 {
  margin-right: 0.7rem;
  color: #e67e22;
}

.wrapper p {
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
}

.p2 {
  margin-right: 0.3rem;
  margin-left: 0.2rem;
}

.list {
  margin: 1.5rem auto;
}

.items {
  width: 50vw;
  margin: 0 auto;
}

.items p {
  font-size: 1.3rem;
  font-weight: 700;
  color: #555555;
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0.8rem auto;
  position: relative;
}

.check {
  font-size: 1.4rem;
  margin-right: 0.5rem;
  color: #e67e22;
}

.list h1 {
  text-transform: capitalize;
  font-variant: small-caps;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
}

.last {
  line-height: 1rem;
  padding-bottom: 3rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.link a {
  text-transform: capitalize;
  color: #e67e22;
  text-decoration: none;
}

.right {
  color: #e67e22;
  margin-left: 0.4rem;
}

.underline {
  margin-left: auto;
  margin-right: auto;
  height: 0.6px;
  width: 8rem;
  background: #e67e22;
  margin-top: 0.2rem;
  transition: all 0.4s ease-in-out;
}

.underline:hover {
  background: transparent;
}

@media screen and (min-width: 600px) {
  .container {
    width: 65vw;
  }

  .container > img {
    height: 17rem;
    width: 65vw;
  }

  .main h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
  }

  .items {
    width: auto;
    margin: 0;
  }
}

@media screen and (min-width: 760px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    max-width: 90;
    margin: 0 auto;
    align-items: start;
  }

  .container {
    width: 25vw;
    max-width: 300px;
  }
  .container > img {
    height: 14rem;
    max-width: 300px;
    width: 25vw;
  }

  .list h1 {
    margin-top: 0;
    font-size: 1.1rem;
  }

  .items p {
    margin: 1.5rem 0;
    text-align: left;
    font-size: 1rem;
    transform: translateX(0%);
  }

  .wrapper h2 {
    font-size: 0.9rem;
  }

  .link a {
    font-size: 1.2rem;
  }

  .underline {
    margin: 0.3rem auto 0 auto;
    width: 9.4rem;
    height: 0.5px;
  }
  .main h2 {
    font-size: 2.8rem;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  .list h1 {
    font-size: 1.5rem;
  }
}
