.main {
  padding: 2rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrap {
  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 1rem;
  font-size: 1.5rem;
  color: #e67e22;
}

.container {
  margin: 1.4rem 0;
}

.container h1 {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #333333;
}

.container p {
  margin-top: 0;
  color: #767676;
  font-size: 0.85rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (min-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding: 0 2.5rem;
  }
  .container {
    margin-right: 2rem;
  }

  .info p {
    font-size: 0.68rem;
  }
}

@media screen and (min-width: 1100px) {
  .main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    /* padding: 2rem 7rem; */
  }

  .container p {
    font-size: 1.1rem;
  }
}
