.section {
  margin: 0 auto;
  width: 90vw;
  border-radius: 0.7rem;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.section img {
  width: 90vw;
  object-fit: cover;
  height: 220px;
  border-radius: 0.7rem 0.7rem 0 0;
}

.container {
  margin: 0;
  padding: 0 1.5rem;
}

.texts {
  padding: 10px 0 1.4rem 0;
}

.texts h1 {
  color: #45260a;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.texts p {
  color: #45260a;
  font-size: 0.9rem;
  margin-top: 1rem;
  font-weight: 500;
}

form {
  padding-bottom: 1rem;
}

.each {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  line-height: 2.2rem;
}

label {
  font-size: 0.7rem;
  font-weight: 700;
  color: #45260a;
}

input:active {
  border-color: #fdf2e9;
}

input,
select {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: none;
  background: #fdf2e9;
  outline: none;
  text-transform: capitalize;
}

.email {
  text-transform: lowercase;
}

.each button {
  padding: 0.9rem;
  border-radius: 0.5rem;
  border: none;
  background: #45260a;
  color: #fdf2e9;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.4s;
  margin-top: 1rem;
  outline-color: #000;
}

.each button:hover {
  background: #fdf2e9;
  color: #333333;
}

@media screen and (min-width: 660px) {
  .section {
    width: 85vw;
  }
  .main {
    display: grid;
    grid-template: "a b" / 60fr 25fr;
    grid-gap: 3rem;
  }

  .image {
    grid-area: b;
  }

  .container {
    grid-area: a;
    padding: 2rem 2rem 2rem 4rem;
  }

  .image {
    background-image: linear-gradient(
        to right bottom,
        rgba(235, 150, 76, 0.35),
        rgba(230, 126, 34, 0.35)
      ),
      url(../../Assets/menu-images/gallery-5.jpg);
    width: 25vw;
    background-size: contain;
    background-position: center;

    border-radius: 0 0.7rem 0.7rem 0;
  }

  .section img {
    display: none;
  }

  .texts h1 {
    font-size: 2.4rem;
    font-weight: bold;
  }

  .texts p {
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 0.8rem;
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 0;
  }

  .each {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .special {
    margin-right: 2rem;
  }

  .each input,
  select {
    padding: 1rem;
  }

  .each label {
    font-size: 1rem;
    font-weight: 500;
  }

  .each button {
    padding: 1rem;
    margin-top: 1.1rem;
    margin-bottom: 0;
  }
}
