.section {
  width: 88vw;
  margin: 3.5rem 0 0 1.5rem;
}
.section > h1 {
  font-size: 0.8rem;
  color: #d27a1f;
  text-transform: uppercase;
  margin-bottom: 0;
}

.section > p {
  margin-top: 0.5rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #767676;
}

.article {
  display: flex;
  flex-direction: column;
  margin: 3.5rem auto;
}

.article img {
  margin: 0 auto;
  width: 30vw;
  height: auto;
  margin-bottom: 0;
}

.elements {
  margin-top: 0;
}

.article h1 {
  color: #dddddd;
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 0;
}

.article h2 {
  margin-top: 0;
  font-size: 1.1rem;
  color: #5a5d68;
}

.article p {
  font-size: 0.85rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 520px) {
  .article p {
    font-size: 0.85rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 600px) {
  .section {
    width: 80vw;
    margin: 0 auto;
  }

  .section > h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
  }
  .section > p {
    font-size: 1.8rem;
    margin: 0;
  }

  .article {
    height: 20rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .article img {
    height: 15rem;
    width: auto;
    object-fit: cover;
  }

  .article p {
    line-height: 1.4rem;
  }

  .elements {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0;
  }

  .elements h1 {
    margin: 0;
    font-size: 3.5rem;
  }

  .elements h2 {
    margin: 0;
    font-size: 1rem;
  }

  .elements p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .diff {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 920px) {
  .section {
    width: 80vw;
    margin: 0 auto;
  }

  .section > h1 {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
  }

  .section > p {
    font-size: 2.5rem;
    margin: 0;
  }

  .article {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 2rem auto;
  }

  .article img {
    height: 20rem;
    width: auto;
    object-fit: cover;
  }

  .article p {
    line-height: 1.5rem;
  }

  .elements {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0;
  }

  .elements h1 {
    margin: 0;
    font-size: 6rem;
  }

  .elements h2 {
    margin: 0;
    font-size: 1.8rem;
  }

  .elements p {
    margin-top: 1rem;
  }

  .diff {
    display: flex;
    flex-direction: row;
  }
}
