.wrapper {
  padding: 3rem 1.2rem;
}

.header h1 {
  color: #cf711f;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.header h2 {
  margin-top: 10px;
  color: #333333;
  font-weight: 700;
  font-size: 1.7rem;
}

.section {
  display: flex;
  flex-direction: column;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin: 2rem 0;
  padding: 1rem 1.7rem;
  border: 4px solid #fdf2e9;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;

  /* max-width: 700px; */
}

.head {
  margin-top: 0 !important;
}

.head h2 {
  text-align: center;
  text-transform: uppercase;
  color: #cf711f;
  font-size: 1rem;
}

.head h1 span {
  font-size: 1.6rem;
}

.head h1 {
  color: #333333;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 0;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0;
}

.head p {
  text-align: center;
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #767676;
  font-family: "Courier New", Courier, monospace;
}

.body {
  padding: 1.8rem 0.5rem;
}

.body p {
  margin-top: 0;
  color: #767676;
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.icon {
  padding-right: 0.6rem;
  color: #cf711f;
  font-size: 1.8rem;
}
.container button {
  display: flex;
  margin: 1.5rem auto;
  padding: 1rem 1rem;
  font-size: 1rem;
  background: #e67e22;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.4rem;
}

.container button:hover {
  background: #cf711f;
}

@media screen and (min-width: 560px) {
  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .wrapper {
    padding: 3rem 2.5rem;
  }
  .container {
    margin-right: 1rem;
    width: 300px;
  }
  .head h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.check {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.3rem 4rem;
  position: absolute;
  top: 6%;
  right: -14%;
  transform: rotate(50deg);
}

.checked {
  display: none;
}

.last {
  text-align: center;
  color: #767676;
  font-size: 0.8rem;
  font-family: "Courier New", Courier, monospace;
}
