.container {
  background: rgb(253, 242, 233);
  background: radial-gradient(
    circle,
    rgba(253, 242, 233, 1) 48%,
    rgba(253, 242, 233, 1) 100%
  );
}

.header {
  display: flex;
  flex-direction: column;
}

.fixed {
  padding: 1.5rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll {
  position: relative;
  top: 0;
  transition: all 0.5s ease-in-out;
  position: fixed;
  background: #fff;
  padding: 1.5rem 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scroll img {
  height: 1.05rem;
  width: 8rem;
}

.scroll button {
  border: 1px solid transparent;
  padding: 0;
  font-size: 1.3rem;
  background: transparent;
  cursor: pointer;
  width: 2.5rem;
  margin-right: 2rem;
}

.fixed img {
  height: 1.05rem;
  width: 8rem;
}

.fixed button {
  border: 1px solid transparent;
  padding: 0;
  font-size: 1.3rem;
  background: transparent;
  cursor: pointer;
  width: 2.5rem;
}

.fixed button:hover {
  border: 1px solid transparent;
  padding: 0;
}

.article {
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}

.article ul {
  list-style-type: none;
  padding: 1rem 1rem;
}

.article ul li {
  background: transparent;
}

.article ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}

/* media screens display styles */
@media screen and (min-width: 550px) {
  .fixed img {
    height: 1.3rem;
    width: 10rem;
  }
}

/* @ 760 pixels */

@media screen and (min-width: 760px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .fixed {
    padding: 1.5rem 2.8rem;
  }

  .fixed img {
    height: 1.3rem;
    width: 10rem;
  }

  .fixed button {
    display: none;
  }

  .scroll button {
    display: none;
  }

  .article {
    height: auto !important;
  }

  .article ul {
    display: flex;
  }

  .article ul li a {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .article ul li a:hover {
    background: #e67e22;
  }
}
