.header {
  position: relative;
  top: -1rem;
  margin: 0 auto;
  /* width: 95vw; */
  padding: 0 1rem;
  /* max-width: 35vw; */
}

/* @media screen and (max-width: 920px) {
  .header {
    margin: 0 3rem;
  }
} */
.header h1 {
  color: #555555;
  font-size: 2rem;
  /* padding: 0 1rem; */
  text-align: center;
  font-weight: bold;
  line-height: 2.1rem;
}

.header p {
  color: #767676;
  line-height: 1.7rem;
  text-align: center;
  /* margin: 0 0.5rem; */
}

.buttons {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  padding: 1rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
  background: #fff;
  border: solid 2px transparent;
  border-radius: 0.5rem;
}

button:first-child {
  background: #e67e22;
  color: #fff;
  border: none;
}

button:first-child:hover {
  background: #cf711f;
}

button:nth-child(2):hover {
  background: transparent;
  border: 2px solid #cf711f;
}

.boxArrow {
  margin-left: 5px;
  color: #cf711f;
  font-weight: bold;
}

.imageGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 65vw;
  height: auto;
  object-fit: cover;
  padding-bottom: 2rem;
}

@media screen and (max-width: 760px) {
  .imageGrid {
    margin-top: 0;
    padding: 0;
    position: relative;
    top: 0;
  }
}
/* media screens minimum 760px */

@media screen and (min-width: 860px) {
  .section {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2rem;
    align-items: flex-start;
    max-width: 90vw;
    margin: 0 auto;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    /* margin-right: 2rem; */
    /* padding-right: 2rem; */
  }

  .header h1 {
    padding: 0 1rem;
    font-size: 3rem;
    text-align: left;
    line-height: 3.3rem;
  }

  .header p {
    padding: 0 1rem;

    margin-top: 0;
    text-align: left;
    font-size: 1.2rem;
  }

  .buttons {
    margin: 2rem 0;
    justify-content: start;
  }

  .buttons button {
    margin-top: 1rem;
  }

  .people {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .imageGrid {
    width: 40vw;
    height: auto;
    align-self: start;
  }
}
