.main {
  margin-top: 7rem;
  border-top: 1px dotted #767676;
  padding-bottom: 2rem;
}

.space {
  padding-top: 3rem;
}

.area {
  width: 90vw;
  margin: 5rem auto 0 auto;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  justify-content: space-between;
  align-items: flex-start;
}

.section {
  margin: 0;
}

.section p {
  text-transform: capitalize;
  font-variant: small-caps;
  color: #333333;
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 0;
}

.section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

.section ul li a {
  text-decoration: none;
  font-size: small;
  text-transform: capitalize;
  color: #767676;
  font-weight: 600;
}

.section img {
  width: 120px;
  height: auto;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 300px) {
  .section img {
    width: 85px;
    height: auto;
    margin-top: 0;
  }
}

.images {
  display: flex;
}

.images li a {
  margin-right: 15px;
}

.section .copy {
  font-size: 0.8rem;
  color: #767676;
  align-self: end;
  margin-bottom: 0;
  width: 30vw;
  padding: 1rem 0 0 0;
}

.address {
  width: 40vw;
}

.article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
}

@media screen and (min-width: 980px) {
  .area {
    display: grid;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .section .copy {
    width: 200px;
  }
  .address {
    width: 200px;
  }
  .space {
    padding: 0;
  }
}
