.section {
  background: rgb(253, 242, 233);
  background: radial-gradient(
    circle,
    rgba(253, 242, 233, 1) 48%,
    rgba(253, 242, 233, 1) 100%
  );
}

.main {
  padding: 4rem 1.5rem;
}

.main h1 {
  font-size: 0.9rem;
  color: #e67e22;
  margin-bottom: 0;
}

.main h2 {
  color: #333333;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-top: 1rem;
}

.contain p {
  font-size: 0.9rem;
  margin-top: 3px;
  color: #6f6f6f;
  font-weight: 400;
}

.icon {
  display: flex;
  align-items: center;
  justify-items: start;
}

.contain p:nth-child(3) {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.images {
  margin-left: 0.1rem;
  margin: 0 auto;
}

.images img {
  width: 110px;
  height: 110px;
  transition: all 0.5s ease-in-out;
}

.images img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 290px) {
  .images img {
    width: 70px;
    height: 70px;
  }

  .contain {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
  .contain > img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    box-sizing: border-box;
    border-right: 2px solid #e67e22;
  }
}

@media (min-width: 560px) {
  .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    grid-template-columns: repeat(5, 1fr);
  }

  .contain p {
    font-size: 1.1rem;
    font-weight: 600;
    width: auto;
  }

  .images img {
    width: 105px;
    height: 105px;
  }

  .main {
    align-self: flex-start;
  }
  .contain > img {
    width: 70px;
    height: auto;
    border-radius: 50%;
    box-sizing: border-box;
    border-right: 4px solid #e67e22;
  }
}

@media (min-width: 760px) {
  .section {
    display: grid;
    grid-template-columns: 60fr 40fr;
    gap: 2rem;
    align-items: center;
    padding: 2rem 1rem 2rem 3rem;
  }

  .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: start;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    align-self: start;
    padding-top: 3rem;
    margin-top: 0;
    padding: 0;
  }

  .main {
    align-self: center;
    margin: auto 0;
    padding: auto;
  }

  .main h1 {
    font-size: 1rem;
  }

  .main h2 {
    font-size: 2.3rem;
    line-height: 2rem;
    padding-right: 1.5rem;
  }

  .images img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
  }
}

@media (min-width: 1200px) {
  .section {
    margin: 0;
    padding: 2rem 0.8rem 2rem 4rem;
    display: grid;
    grid-template-columns: 60fr 40fr;
    gap: 2rem;
    align-items: start;
  }

  .main {
    align-self: start;
    padding: 0;
    margin: 0;
    gap: 2rem;
  }

  .images img {
    width: 155px;
    height: 155px;
    border-radius: 10px;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }

  .first {
    padding: 2rem 0 0 0;
  }
  .main h2 {
    font-size: 2.7rem;
    line-height: 2.3rem;
  }
  .contain p {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 0.3rem 0.5rem 0.3rem 0;
  }
}
