.section {
  background: rgb(253, 242, 233);
  background: radial-gradient(
    circle,
    rgba(253, 242, 233, 1) 48%,
    rgba(253, 242, 233, 1) 100%
  );
  padding-left: 1.5rem;
  /* display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center; */
  /* grid-template-columns: repeat(autofit, minmax(200px 1fr)); */
  /* grid-template-rows: repeat(autofix, minmax(200px 1fr)); */
}

.main {
  padding-top: 4rem;
  /* margin-top: 4rem; */
}

.main h1 {
  font-size: 0.9rem;
  color: #e67e22;
  margin-bottom: 0;
}

.main h2 {
  color: #333333;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.7rem;
  margin-top: 1rem;
}

.contain {
  /* margin-left: 1.5rem; */
}

.contain > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contain p {
  font-size: 0.9rem;
  margin-top: 3px;
  color: #6f6f6f;
  font-weight: 400;
}

.icon {
  display: flex;
  align-items: center;
  justify-items: start;
}

.contain p:nth-child(3) {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  padding-bottom: 2rem;
  grid-template-columns: repeat(4, 1fr);
  display: grid;
}

.images {
  margin-left: 0.1rem;
  margin: 0 auto;
}

.images img {
  width: 100px;
  height: 100px;
  max-width: 200;
  max-height: auto;
  transition: all 0.5s ease-in-out;
}

.images img:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 760px) {
  /* .article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .container {
    width: 200px;
  }
  .contain {
    width: 200px;
  } */
}

@media (min-width: 560px) {
  /* .section {
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    row-gap: 1.5rem;
  } */
  /* .container {
    grid-template-columns: repeat(2, 1fr);
  } */
  .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    grid-template-columns: repeat(5, 1fr);
  }

  .contain p {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .images img {
    width: 105px;
    height: 105px;
  }
  .main {
    align-self: flex-start;
  }
}

@media (min-width: 800px) {
  .images img {
    width: 145px;
    height: 145px;
    border-radius: 10px;
  }
  .section {
    display: grid;
    grid-template-columns: 55fr 45fr;
    gap: 2rem;
    align-items: start;
  }

  .container {
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    /* align-self: start; */
    /* padding-top: 3rem; */
    /* align-self: center; */
  }
}

@media (min-width: 760px) {
  .section {
    display: grid;
    grid-template-columns: 55fr 45fr;
    gap: 2rem;
    align-items: center;
  }

  .first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: start;
  }

  .container {
    grid-template-columns: repeat(3, 1fr);
    align-self: start;
    padding-top: 3rem;
    /* align-self: center; */
  }

  .main {
    margin-top: 0;
  }

  .main h1 {
    font-size: 1rem;
  }

  .main h2 {
    font-size: 2.3rem;
    line-height: 2rem;
    padding-right: 1.5rem;
  }
  /* .images img {
    width: 115px;
    height: 115px;
  } */
}
