.featured h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  color: #767676;
}

.featured {
  color: #767676;
  margin-top: 0;
}

.article {
  height: 3rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 75vw;
  margin: 0 auto;
  align-items: center;
}

.busimg {
  margin: 0 auto;
}

@media screen and (min-width: 760px) {
  .featured h1 {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }

  .busimg {
    filter: grayscale(100%);
    object-fit: contain;
  }
}

@media screen and (max-width: 300px) {
  .featured {
    display: none;
  }
}
