.featured h1 {
  text-transform: capitalize;
  font-size: 0.8rem;
  text-align: center;
  color: #767676;
}

.featured {
  color: #767676;
  margin-top: 2rem;
}

.article {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.article img {
  filter: grayscale(100%);
  object-fit: contain;
  width: 18%;
  margin: auto;
}

@media screen and (min-width: 760px) {
  .featured {
    padding: 0 150px 0 150px;
  }
  .featured h1 {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }

  .article {
    justify-content: center;
  }

  .article img {
    aspect-ratio: 3/2;
    filter: grayscale(100%);
    object-fit: contain;
    margin-left: 1rem;
    width: 15%;
  }
}
