.contain {
  display: flex;
  flex-direction: column-reverse;
}
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 1.5rem;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 1.5 auto;
  padding-bottom: 1rem;
}

.src {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -12px;
  border: 2px solid #cf711f;
}

.src:first-child {
  border: transparent;
  height: 34px;
  width: 34px;
}

.section p {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 15px;
  color: #6f6f6f;
}

.section p span {
  color: #cf711f;
}

@media screen and (min-width: 860px) {
  .section {
    margin-left: 0;
  }
}

/* media screens 760px */

@media screen and (min-width: 1200px) {
  .section {
    justify-content: start;
    align-items: flex-start;
    margin-left: -48vw;
  }
}
